@use '../../assets/styles/globals' as global;
$input-bg: #f4f7ff;

.wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1.5em;
  box-shadow: global.$box-shadow;
}

.mainCon {
  display: flex;
  align-items: center;
  gap: 20px;

  .logoCon {
    width: 12em;
    height: 3em;
    cursor: pointer;

    .logo {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .inputWrap {
    display: flex;
    align-items: center;
    position: relative;

    input {
      width: 20em;
      height: 2em;
      font-size: 1em;
      border: none;
      border-radius: 10px;
      background-color: $input-bg;
      padding: 0.4em 0.6em;
    }

    .searchCon {
      position: absolute;
      right: 0;
      width: 2.3em;
      height: 2.4em;
      border-radius: 10px;
      background-color: global.$primary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: global.$primary-color-transparent;
      }
    }
  }
}

.myCon {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #000;

  .favCon {
    background-color: global.$secondary-color;
    width: 2em;
    height: 2em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // span {
  //   font-family: $font-Noto;
  //   font-size: 1.5em;
  // }
}
